diffusers==0.24.0
huggingface_hub==0.10
transformers==4.35.2
--extra-index-url https://download.pytorch.org/whl/cu121;
torch
fastapi==0.104.1
uvicorn[standard]==0.24.0.post1
Pillow==10.1.0
accelerate==0.24.0
compel==2.0.2
controlnet-aux==0.0.7
peft==0.6.0
markdown2
